<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eugolana gallery - {{ title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/scenic.css">
	</head>
	<body >
		<canvas id="BackgroundCanvas" resize></canvas>
    {% include nav.html %}

    <div id="header">
      <h1>{{ page.title }}</h1>
    </div>
		<div id="content">
      <img onload="setColor(this);" class="imageFull" src="{{ site.baseurl }}/assets/images/{{ page.image }}" onmousemove="getColor(event)"/>
    </div>
	</body>
</html>
