<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eugolana projects</title>
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/scenic.css">
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/perlin.js"></script>
		<!-- Load the Paper.js library -->
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/paper-full.js"></script>
		<script type="text/paperscript" src="{{ site.baseurl }}/assets/js/projects.js" canvas="projectsBackgroundCanvas"></script>
	</head>
	<body >
		<canvas id="projectsBackgroundCanvas"  resize></canvas>
    {% include nav.html %}
    <div id="projectPanel">
    	<div id="content">
    		{{content}}
    	</div>

        <ul>
        {%- for project in site.projects -%}
          <li class="projectItem">
			<h3>{{ project.title }}</h3>          	
			<a href="{{ project.externalURL }}">
				<img class="projectImage" src="{{ site.baseurl }}/assets/images/{{ project.image }}"/>
			</a>
			<p> {{ project.description }}</p>
		 </li>
          {%- endfor -%}
        </ul>
      </div>
	</body>
</html>